$color-map: (
  warning: #ff9a2a,
  success: #7fbc39,
  info: #00b4cf,
  info-active: #01869a,
  dark: #2d4054,
  dark-active: #435466,
  light: #f3f3f3,
  light-active: #e1e4e6
);

@function color($inKey) {
  @return map-get($map: $color-map, $key: $inKey);
}
